.customer {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  &-heading {
    color: $heading-color;
    width: 447.81px;
    font-weight: 500;
    font-size: 35px;
    line-height: calc(50 / 35);
    text-align: center;
    align-items: center;
  }
  &-desc {
    color: $text-color;
    width: 555px;
  }
}
