.feature {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-heading {
    width: 383px;
    color: $heading-color;
    font-weight: 500;
    font-size: 35px;
    line-height: calc(50 / 35);
    margin-bottom: 20px;
  }
  &-desc {
    width: 427px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
  }
  &-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
