.intro {
  padding: 57px 0;
  &-container {
    background: #ffffff;
    padding: 37px 0;
    border-radius: 10px;
    box-shadow: 0 37px 57px 0 #0d1025;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 0 50px;
    min-height: 200px;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
