.menu {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
