.plan {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  &-heading {
    font-weight: 500;
    font-size: 35px;
    line-height: calc(50 / 35);
  }
}
