.subscribe {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 58px 70px;
    border-radius: 10px;
    box-shadow: 0 30px 87px 0 #0d1025;
  }
}
