$font: "Rubik", sans-serif;
$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #f53838;
$secondary-color: #f53855;
$gray-color: #f6f6f6;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #afb5c0;
